/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    background: #000000;
}

/* Header background */
.header {
    background-color: #000000;
}

/* Name container */
.box {
    height: 80px;
    display: flex;
    align-items: center;
}

/* Name text */
#name {
    color: white;
    font-size: 40px;
    padding-left: 25px;
    font-family: 'Dancing Script', cursive;
}

/* Navbar */
.custom-navbar {
    background-color: #000000;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #ffd7b5 !important;
}

/* Profile image */
#img_prev {
    width: 180px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.navbar-collapse {
    justify-content: flex-end;
}
.card {
    margin-right: auto;
    margin-top: 50px;
    background-color: #000000;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    border: 2px solid #ffffff;
}
.card-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 10px;
}
.card-text {
    font-size: 16px;
    color: white;
    text-align: center;
}
#textSkills1 {
    color: white;
    text-align: center;
    padding-top: 20px;
}
#webIcon{
    width: 50px;
    height: 50px;
}
#programmingIcon{
    width: 50px;
    height: 50px;
}
#toolsIcon{
    width: 50px;
    height: 50px;
}
#learningIcon{
    width: 50px;
    height: 50px;
}
#textSkills2 {
    color: white;
    text-align: center;
    padding-top: 20px;
}
#instaLogo {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    zoom: 3;
}
#linkedinLogo {
    width: 50px;
    height: 50px;
    zoom: 1.7;
    margin-bottom: 11px;
}
#whatsappLogo {
    width: 50px;
    height: 50px;
    zoom: 1.5;
    margin-left: 50px;
}
